body {
  background: #659dbd;
  margin: 0;
}

.header {
  // background: linear-gradient(140deg, #00ffa5, 50%, blue);
  background: url('https://lessandmore.com/wp-content/uploads/2016/08/COVER.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: sticky;
  top: -442px;
}

.header-title {
  color: #fff;
  font-family: 'Alegreya SC', serif;
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0;
  padding-top: 150px; 
  padding-bottom: 220px;
  text-align: center;
}

.about-title,
.resume-title {
  font-family: 'Alegreya SC', serif;
  text-align: center;
}

.about-title {
  padding-top: 20px;
}

p {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
}

.navbar {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  // padding-top: 10px;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-btn {
  background: transparent;
  border: 3px solid transparent;
  color: #fff;
  font-size: 1rem;
  height: 50px;
  transition: all 300ms;
  width: 120px;
}

.navbar-btn:hover {
  border: 3px solid #000;
  color: #000;
}


.resume-preview {
  display: block;
  margin: 0 auto;
}

